.name-status {
  width: 100%;
  max-height: 150px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgba(119, 114, 114, 0.76);
  color: snow;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  &__name {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }
  &__status {
      display: block;
  }
}
