.screen-friends {
  height: 100%;
  padding: 10px 0;
  .container {
    height: inherit;
  }
  .container__box {
    height: inherit;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
  }
}
