.list-friends-element {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 9px;
  margin-bottom: 10px;
  &__photo-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.23s ease-in-out;
    &:hover {
      box-shadow: 0 0 0 1px snow, 0 0 5px 0px #399179, 0 0 10px 0px #22cfa1;
    }
  }
  &__photo {
    height: inherit;
    width: inherit;
  }
  &__name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    transition: all 0.23s ease-in-out;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid #2d2d2d;
      border-radius: 1px;
    }
  }
}
