$transitionGlobal: all 0.23s ease-in-out;
$standartColor: #399179;
$standartHoverBoxShadowColor: #22cfa1;
$colorBlue: #6b8df1;
$colorRed: #e91263;
//box-shadow: 0 0 10px 1px #22cfa1, 0 0 0px 1px #fff;
