.screen-my-profile {
  padding-top: 25px;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  .container {
    color: #fff;
    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: 100%;
  }
}
