.screen-friends-right-column {
  // background-color: rgba(210, 180, 140, 0.404);
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin-left: 10px;
  padding: 20px;
  padding-top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-bottom: 2px solid #2d2d2d44;
  }
  &__list {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  &__item {
    height: 100%;
  }
  &__btn {
    height: 100%;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    padding: 0px 10px;
    transition: all 0.23s ease-in-out;
    outline: transparent;
    &:hover {
      background-color: #2d2d2d93;
      color: snow;
    }
  }
  &__users {
    height: 100%;
    width: 100%;
  }
  &__pagination {
    display: flex;
    align-items: center;
    button {
      margin: 0px 10px;
      border-radius: 2px;
      padding: 5px 10px;
      background-color: transparent;
      box-shadow: 0 0 0 1px #2d2d2d;
      transition: all 0.23s ease-in-out;
      font-size: 21px;
      &:hover {
        background-color: #2d2d2d;
        color: snow;
      }
    }
    .screen__pagination {
      cursor: pointer;
      margin: 0px 1px;
      transition: all 0.23s ease-in-out;
      display: inline-block;
      padding: 0 5px;
      border-radius: 3px;
      font-size: 21px;
      &:hover{
        box-shadow: 0 0 0 1px #2d2d2d;
      }
    }
  }
  &__pagination-left {
    &:hover {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  &__pagination-right {
    &:hover {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .screen__pagination-active {
    font-weight: 900;
    color: snow;
    background-color: #2d2d2d;
  }
}
