html,
body,
#root {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  position: relative;
  background-color: #39917a52;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

button {
  cursor: pointer;
  border-style: none;
}
.container {
  max-width: 940px;
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  height: inherit;
  position: relative;
  z-index: 100;
}
