.main-photo {
  display: block;
  max-height: 300px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: snow;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.23s ease-in-out;
  img{
    height: 300px;
  }
  &__change {
    height: 0;
    width: 0;
    overflow: hidden;
  }
  &:hover .main-photo__change-box {
    height: 30px;
    width: 130px;
    font-size: 18px;
    box-shadow: inset 0 0 30px 10px #2d2d2d;
  }
  &__change-box {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0%;
    color: snow;
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.23s ease-in-out;
    overflow: hidden;
    font-size: 0;
    height: 0;
    width: 0;
    box-shadow: none;
    &:hover {
      color: tomato;
    }
  }
}
.main-photo__box {
  position: relative;
}
