.icon-profile {
  display: block;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.23s ease-in-out;
  box-shadow: 0 0 5px 1px #22cfa1, 0 0 0px 1px #fff;
  margin: 0 10px;
  &:hover {
    box-shadow: 0 0 15px 2px #22cfa1, 0 0 0px 1px #fff;
  }
  img {
    height: inherit;
    width: inherit;
  }
}
